body {
  background: #fafafa;
  font-family: Arial;
}

.box {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  text-align: center;
  border: 1px solid #dbdbdb;
}

h1 {
  font-family: cursive;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

button {
  width: 100%;
  padding: 8px;
  background: #3897f0;
  border: none;
  color: white;
  font-weight: bold;
}

.navbar {
  background: white;
  padding: 15px;
  font-size: 24px;
  border-bottom: 1px solid #dbdbdb;
}

.post {
  width: 400px;
  margin: 20px auto;
  background: white;
  border: 1px solid #dbdbdb;
}
